-f https://nvidia.github.io/TensorRT-Incubator/packages.html
nvtripy>=0.1.5
transformers==5.0.0rc3
tiktoken==0.12.0
--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.10.0+cu130
nvidia-modelopt==0.41.0
datasets==4.5.0
