# Torch is required by `optimum`. This will let PIP select the CPU version.
# The GPU version installs `nvidia-` pip packages which confuse JAX.
-r requirements.txt
--extra-index-url https://download.pytorch.org/whl/cpu
numpy<2.0.0
torch==2.2.0
click
datasets==2.14.5
flax==0.8.1
librosa==0.10.1
matplotlib
optimum==1.16.2
pandas
sh
transformers==4.37.2
nvtx>=0.2.7
cupy-cuda12x # Required for test_create_memref.py
ml_dtypes
nvidia-ml-py
black
