name: MLIR-TensorRT CI

on:
  push:
    branches:
      - "pull-request/[0-9]+"
    tags:
      # release tag example: v0.4.2
      # release candidate tag example: v0.4.2-rc1
      - v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'  # Runs at 00:00 UTC every day (minute hour day-of-month month-of-year day-of-week)

env:
  DEFAULT_IMAGE: ghcr.io/nvidia/tensorrt-incubator/mlir-tensorrt:cuda12.9-ubuntu-llvm17
  REGISTRY: ghcr.io

defaults:
  run:
    shell: bash

jobs:
  format-check:
    name: Lint Check
    runs-on: ubuntu-latest
    steps:
      - name: checkout TensorRT-Incubator
        uses: actions/checkout@v4
        with:
          fetch-depth: 5
      - name: Run python format and clang check
        uses: addnab/docker-run-action@v3
        with:
          image: ${{ env.DEFAULT_IMAGE }}
          options: -v ${{ github.workspace }}:/tensorrt-incubator
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          run: |
            set -euo pipefail
            set -x
            cd /tensorrt-incubator
            git config --global --add safe.directory /tensorrt-incubator
            uvx -p 3.12 black --check --extend-exclude='.*\.pyi' \
            mlir-tensorrt/compiler/ mlir-tensorrt/integrations/python/
            git clang-format HEAD~1 --diff

  generate-matrix:
    name: Generate Build Matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
      channel: ${{ steps.generate.outputs.channel }}
    steps:
      - name: Checkout TensorRT-Incubator
        uses: actions/checkout@v4
        with:
          path: ${{ github.workspace }}/tensorrt-incubator
      - name: Generate Build Matrix
        id: generate
        run: |
          set -euo pipefail
          set -x
          CHANNEL="test"
          if [ "${GITHUB_EVENT_NAME:-}" = "schedule" ]; then
            CHANNEL="nightly"
          elif [ "${GITHUB_REF_TYPE:-}" = "tag" ]; then
            CHANNEL="release"
          fi
          MATRIX_BLOB="$(python3 ${{ github.workspace }}/tensorrt-incubator/.github/workflows/mlir-tensorrt/generate-matrix.py --channel "${CHANNEL}")"
          echo "${MATRIX_BLOB}"
          echo "${CHANNEL}"
          echo "matrix=${MATRIX_BLOB}" >> "${GITHUB_OUTPUT}"
          echo "channel=${CHANNEL}" >> "${GITHUB_OUTPUT}"

  mlir-tensorrt-build-test:
    name: Build and Test
    needs: generate-matrix
    if: ${{ needs.generate-matrix.outputs.channel != 'release' }}
    uses: ./.github/workflows/mlir-tensorrt-build-test.yml
    with:
      build-matrix: ${{ needs.generate-matrix.outputs.matrix }}
      channel: ${{ needs.generate-matrix.outputs.channel }}

  mlir-tensorrt-release:
    name: Release
    needs: generate-matrix
    if: ${{ needs.generate-matrix.outputs.channel == 'release' }}
    uses: ./.github/workflows/mlir-tensorrt-release.yml
    with:
      build-matrix: ${{ needs.generate-matrix.outputs.matrix }}
      channel: release

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref_name }}-mlir-tensorrt
  cancel-in-progress: true