name: MLIR-TensorRT Build and Test

on:
  workflow_call:
    inputs:
      channel:
        description: 'Channel, valid values are "nightly", "test", or "release"'
        default: "test"
        type: string
      build-matrix:
        description: 'Build matrix to utilize'
        default: ""
        type: string

defaults:
  run:
    shell: bash

jobs:
  mlir-tensorrt-basic-build-test:
    name: ${{ matrix.arch }}-cu${{ matrix.cuda }}-trt${{ matrix.trt }}-basic-build-test
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix: ${{ fromJSON(inputs.build-matrix) }}
    env:
      # eg. TENSORRT_VERSION: 10.12 or 10.13
      MLIR_TRT_DOWNLOAD_TENSORRT_VERSION: ${{ matrix.trt }}
      # eg. CHANNEL: nightly, test or release
      CHANNEL: ${{ inputs.channel }}
      ARCH: ${{ matrix.arch }}
      CMAKE_PRESET: ${{ matrix.cmake_preset }}
      CCACHE_RESTORE_KEY: mlir-tensorrt-ccache-v1-${{ matrix.arch }}-${{ matrix.cmake_preset }}
      CPM_RESTORE_KEY: mlir-tensorrt-cpm-v1
    runs-on: ${{ matrix.github_runner }}
    container:
      image: ${{ matrix.docker_image }}
      options: >-
        --gpus all
        --shm-size=1g
    timeout-minutes: 120
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # basic build and test
      - name: Basic Build and Test
        uses: ./.github/actions/mlir-tensorrt-build-test
        with:
          cpm_cache_restore_flag: true
          ccache_restore_flag: true

  mlir-tensorrt-asan-build-test:
    name: ${{ matrix.arch }}-cu${{ matrix.cuda }}-trt${{ matrix.trt }}-asan-build-test
    if: ${{ inputs.channel == 'nightly' || (github.event_name == 'push' && github.ref == 'refs/heads/main') }}
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix: ${{ fromJSON(inputs.build-matrix) }}
    env:
      # eg. TENSORRT_VERSION: 10.12 or 10.13
      MLIR_TRT_DOWNLOAD_TENSORRT_VERSION: ${{ matrix.trt }}
      # eg. CHANNEL: nightly, test or release
      CHANNEL: ${{ inputs.channel }}
      ARCH: ${{ matrix.arch }}
      CMAKE_PRESET: ${{ matrix.cmake_preset }}-asan
      CCACHE_RESTORE_KEY: mlir-tensorrt-ccache-v1-${{ matrix.arch }}-${{ matrix.cmake_preset }}-asan
      CPM_RESTORE_KEY: mlir-tensorrt-cpm-v1
    runs-on: ${{ matrix.github_runner }}
    container:
      image: ${{ matrix.docker_image }}
      options: >-
        --gpus all
        --shm-size=1g
    timeout-minutes: 120
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # asan build and test
      - name: ASAN Build and Test
        uses: ./.github/actions/mlir-tensorrt-build-test
        with:
          cpm_cache_restore_flag: false
          ccache_restore_flag: true

  mlir-tensorrt-long-build-test:
    name: ${{ matrix.arch }}-cu${{ matrix.cuda }}-trt${{ matrix.trt }}-long-build-test
    if: ${{ inputs.channel == 'nightly' || (github.event_name == 'push' && github.ref == 'refs/heads/main') }}
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix: ${{ fromJSON(inputs.build-matrix) }}
    env:
      # eg. TENSORRT_VERSION: 10.12 or 10.13
      MLIR_TRT_DOWNLOAD_TENSORRT_VERSION: ${{ matrix.trt }}
      # eg. CHANNEL: nightly, test or release
      CHANNEL: ${{ inputs.channel }}
      ARCH: ${{ matrix.arch }}
      CMAKE_PRESET: ${{ matrix.cmake_preset }}
      CCACHE_RESTORE_KEY: mlir-tensorrt-ccache-v1-${{ matrix.arch }}-${{ matrix.cmake_preset }}
      CPM_RESTORE_KEY: mlir-tensorrt-cpm-v1
      LONG_TESTS: "True"
    runs-on: ${{ matrix.github_runner }}
    container:
      image: ${{ matrix.docker_image }}
      options: >-
        --gpus all
        --shm-size=1g
    timeout-minutes: 120
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # long build and test
      - name: Basic Build and Test
        uses: ./.github/actions/mlir-tensorrt-build-test
        with:
          cpm_cache_restore_flag: false
          ccache_restore_flag: false

  mlir-tensorrt-nccl-long-build-test:
    name: ${{ matrix.arch }}-cu${{ matrix.cuda }}-trt${{ matrix.trt }}-nccl-long-build-test
    if: ${{ inputs.channel == 'nightly' || (github.event_name == 'push' && github.ref == 'refs/heads/main') }}
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix: ${{ fromJSON(inputs.build-matrix) }}
    env:
      # eg. TENSORRT_VERSION: 10.12 or 10.13
      MLIR_TRT_DOWNLOAD_TENSORRT_VERSION: ${{ matrix.trt }}
      # eg. CHANNEL: nightly, test or release
      CHANNEL: ${{ inputs.channel }}
      ARCH: ${{ matrix.arch }}
      CMAKE_PRESET: ${{ matrix.cmake_preset }}-nccl-long
      CCACHE_RESTORE_KEY: mlir-tensorrt-ccache-v1-${{ matrix.arch }}-${{ matrix.cmake_preset }}-nccl-long
      CPM_RESTORE_KEY: mlir-tensorrt-cpm-v1
      LONG_TESTS: "True"
    runs-on: ${{ matrix.github_runner }}
    container:
      image: ${{ matrix.docker_image }}
      options: >-
        --gpus all
        --shm-size=1g
    timeout-minutes: 120
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # nccl long build and test
      - name: NCCL Long Build and Test
        uses: ./.github/actions/mlir-tensorrt-build-test
        with:
          cpm_cache_restore_flag: false
          ccache_restore_flag: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref_name }}-mlir-tensorrt-${{ inputs.channel }}
  cancel-in-progress: true
