name: MLIR-TensorRT Release

on:
  workflow_call:
    inputs:
      build-matrix:
        description: 'Build matrix to utilize'
        default: ""
        type: string
      channel:
        description: 'Channel to build and test, defaults to "test"'
        default: "release"
        type: string

defaults:
  run:
    shell: bash
jobs:
  mlir-tensorrt-release:
    name: release-${{ matrix.arch }}-cu${{ matrix.cuda }}-trt${{ matrix.trt }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(inputs.build-matrix) }}
    env:
      # eg. CUDA_VERSION: 12.9.1 or 13.0.0
      CUDA_VERSION: ${{ matrix.cuda }}
      # eg. TENSORRT_VERSION: 10.12 or 10.13
      TENSORRT_VERSION: ${{ matrix.trt }}
      # align caches with restored paths
      CCACHE_DIR: ${{ github.workspace }}/tensorrt-incubator/mlir-tensorrt/ccache
      CPM_SOURCE_CACHE: ${{ github.workspace }}/tensorrt-incubator/mlir-tensorrt/.cache.cpm
      # eg. ARCH: x86_64 or aarch64
      ARCH: ${{ matrix.arch }}
      # eg. CHANNEL: nightly, test or release
      CHANNEL: ${{ inputs.channel }}
    runs-on: ${{ matrix.runner }}
    container:
      image: ${{ matrix.docker_image }}
      options: '--gpus all'
    steps:
      # Checkout the repository
      - name: Checkout TensorRT-Incubator
        uses: actions/checkout@v4
        with:
          repository: NVIDIA/TensorRT-Incubator

      # Create cache folders
      - name: Create Cache Folders
        run: |
          set -euo pipefail
          set -x
          mkdir -p ${{ github.workspace }}/tensorrt-incubator/mlir-tensorrt/ccache
          mkdir -p ${{ github.workspace }}/tensorrt-incubator/mlir-tensorrt/.cache.cpm

      # Restore cache, if exists.
      - name: Restore Cache
        uses: actions/cache/restore@v4
        with:
          key: ${{ runner.os }}-mlir-tensorrt-cache-${{ hashFiles('mlir-tensorrt/**/*.cpp', 'mlir-tensorrt/**/*.h', 'mlir-tensorrt/build_tools/**/*') }}
          restore-keys: |
            ${{ runner.os }}-mlir-tensorrt-cache-
          path: |
            ${{ github.workspace }}/tensorrt-incubator/mlir-tensorrt/ccache
            ${{ github.workspace }}/tensorrt-incubator/mlir-tensorrt/.cache.cpm/*
            !${{ github.workspace }}/tensorrt-incubator/mlir-tensorrt/.cache.cpm/tensorrt

      - name: Build Distributions
        id: build-distributions
        run: |
          set -euo pipefail
          set -x
          cd mlir-tensorrt
          # build the distribution tar.gz
          ./build_tools/scripts/cicd_build_distribution.sh

      - name: Upload Distributions
        uses: actions/upload-artifact@v4
        with:
          name: mlir-tensorrt-${{ matrix.arch }}-linux-cuda${{ matrix.cuda }}-tensorrt${{ matrix.trt }}.tar.gz
          path: ${{ github.workspace }}/tensorrt-incubator/mlir-tensorrt/install/

      # Save cache
      - name: Save Cache
        uses: actions/cache/save@v4
        with:
          key: ${{ runner.os }}-mlir-tensorrt-cache-${{ hashFiles('mlir-tensorrt/**/*.cpp', 'mlir-tensorrt/**/*.h', 'mlir-tensorrt/build_tools/**/*') }}
          path: |
            ${{ github.workspace }}/tensorrt-incubator/mlir-tensorrt/ccache
            ${{ github.workspace }}/tensorrt-incubator/mlir-tensorrt/.cache.cpm/*
            !${{ github.workspace }}/tensorrt-incubator/mlir-tensorrt/.cache.cpm/tensorrt

      # Build wheels
      - name: Build Wheels
        id: build-wheels
        run: |
          set -euo pipefail
          set -x
          cd mlir-tensorrt
          DOWNLOAD_TENSORRT_VERSION=${{ matrix.trt }} \
          WHEELS_DIR=${PWD}/.wheels \
          ./build_tools/scripts/cicd_build_wheels.sh

      # Smoke test the wheels built
      - name: smoke-test-wheel-${{ matrix.cuda }}-trt${{ matrix.trt }}
        run: |
          set -euo pipefail
          set -x
          cd ${{ github.workspace }}/tensorrt-incubator/mlir-tensorrt
          python3 -m pip install .wheels/mlir_tensorrt-*.whl
          # TODO: add smoke test for the wheel

      # Upload wheels to GitHub Actions artifact
      - name: Upload Wheels
        uses: actions/upload-artifact@v4
        with:
          name: release-wheels-${{ matrix.arch }}-cu${{ matrix.cuda }}-trt${{ matrix.trt }}
          path: ${{ github.workspace }}/tensorrt-incubator/mlir-tensorrt/.wheels/

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref_name }}-mlir-tensorrt-release
  cancel-in-progress: true