name: MLIR-TensorRT CI

on:
  push:
    branches:
      - "pull-request/[0-9]+"

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
      - name: checkout TensorRT-Incubator
        uses: actions/checkout@v4
      - name: Generate matrix
        id: generate
        run: |
          set -euo pipefail
          set -x
          MATRIX_BLOB="$(python3 ./.github/workflows/mlir-tensorrt/generate-matrix.py --channel test)"
          echo "${MATRIX_BLOB}"
          echo "matrix=${MATRIX_BLOB}" >> "${GITHUB_OUTPUT}"

  mlir-tensorrt-build-test:
    name: mlir-tensorrt-build-test
    needs: generate-matrix
    strategy:
      fail-fast: false
      matrix: 
        include:
          - channel: test
    uses: ./.github/workflows/build-test.yml
    with:
      build-matrix: ${{ needs.generate-matrix.outputs.matrix }}
      channel: test

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref_name }}-mlir-tensorrt
  cancel-in-progress: true