name: MLIR-TensorRT CI

on:
  push:
    branches:
      - "pull-request/[0-9]+"
    tags:
      # release tag example: v0.4.2
      # release candidate tag example: v0.4.2-rc1
      - v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'  # Runs at 00:00 UTC every day (minute hour day-of-month month-of-year day-of-week)

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
      channel: ${{ steps.generate.outputs.channel }}
    steps:
      - name: checkout TensorRT-Incubator
        uses: actions/checkout@v4
      - name: Generate matrix
        id: generate
        run: |
          set -euo pipefail
          set -x
          CHANNEL="test"
          if [ "${GITHUB_EVENT_NAME:-}" = "schedule" ]; then
            CHANNEL="nightly"
          elif [ "${GITHUB_REF_TYPE:-}" = "tag" ]; then
            CHANNEL="release"
          fi
          MATRIX_BLOB="$(python3 ./.github/workflows/mlir-tensorrt/generate-matrix.py --channel "${CHANNEL}")"
          echo "${MATRIX_BLOB}"
          echo "${CHANNEL}"
          echo "matrix=${MATRIX_BLOB}" >> "${GITHUB_OUTPUT}"
          echo "channel=${CHANNEL}" >> "${GITHUB_OUTPUT}"

  mlir-tensorrt-build-test:
    name: mlir-tensorrt-${{ needs.generate-matrix.outputs.channel }}
    needs: generate-matrix
    if: ${{ needs.generate-matrix.outputs.channel != 'release' }}
    uses: ./.github/workflows/mlir-tensorrt-build-test.yml
    with:
      build-matrix: ${{ needs.generate-matrix.outputs.matrix }}
      channel: ${{ needs.generate-matrix.outputs.channel }}

  mlir-tensorrt-release:
    name: mlir-tensorrt-release
    needs: generate-matrix
    if: ${{ needs.generate-matrix.outputs.channel == 'release' }}
    uses: ./.github/workflows/mlir-tensorrt-release.yml
    with:
      build-matrix: ${{ needs.generate-matrix.outputs.matrix }}
      channel: release

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref_name }}-mlir-tensorrt
  cancel-in-progress: true